# Python
__pycache__/
*.py[cod]
*.log

# Virtual env
.venv/
venv/

# Django local
db.sqlite3
media/
staticfiles/

# IDE
.idea/
.vscode/

# Env
.env
.env.*
db.sqlite3

# Local DB files
*.sqlite3
*.sqlite3.backup_*
.env*
*.bak

# Node / React dashboard
node_modules/
dashboard-frontend/node_modules/
dashboard-frontend/dist/
dashboard-frontend/.env
dashboard-frontend/.env.*
